.services__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.service{
    /* background-color: darkslategrey; */
    background:
		linear-gradient(-135deg, rgb(0, 0, 0) 10%, transparent), 
		repeating-linear-gradient(45deg, rgb(54, 23, 15) 0%, rgba(109, 40, 17, 0.6) 5%, transparent 5%, transparent 10%), 
		repeating-linear-gradient(-45deg, rgba(108, 34, 13, 0.769) 0%, rgb(109, 27, 7) 5%, transparent 5%, transparent 10%);
    /* border-radius: 0 0 2rem 2rem; */
    border: 1px solid transparent;
    height: fit-content;
    transition: 2s;
}
.service:hover{
    background-color:rgba(186, 186, 186,50);
    backdrop-filter: blur(15px);
    color: #fff;
    border-color: rgb(0, 0, 0);
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s ease-in-out;
}
.services__head{
    /* background-color:black; */
    padding: 2rem;
    /* box-shadow: 0 0.4rem 0.3rem rgba(97, 151, 195, 0.594) */

}
.services__head h3{
    color: whitesmoke;
    font-size: 1rem;
    text-align: center;
}
.services__list{
    padding: 1rem;
}

.services__list li{
    display: flex;
    gap: 1rem;
    margin: 0.8rem;
}

.service__list-icon{
   font-size: 30px;
}

.services__list p{
    font-size: 0.9rem;
}
.hire_me{
    width: 100%;
    height: 50vh;
    /* background: linear-gradient(45deg, transparent 20%, #3c3c3c 20% 50%, #862c28 50% 80%, transparent 80%); */
    background:
		linear-gradient(-135deg, rgb(69, 142, 114) 10%, transparent), 
		repeating-linear-gradient(45deg, rgb(35, 91, 139) 0%, rgba(55, 126, 162, 0.6) 5%, transparent 5%, transparent 10%), 
		repeating-linear-gradient(-45deg, rgba(25, 112, 166, 0.4) 0%, rgba(22, 91, 129, 0.5) 5%, transparent 5%, transparent 10%);
    margin: 7rem 0;
}
.hire_btn:hover{
    cursor: pointer;
}


.hire_container{
    
    height: 30vh;
    width: 36%;
    padding: 5rem 3rem;
    line-height: 3rem;
    margin: auto;
    text-align: center;
}
.hire_container a{
    text-decoration: none;
    font-size: 0.8rem;
}
.hire_btn{
    letter-spacing: 0.2rem;
}

@media only screen and (max-width:1024px) {
    .services__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service{
        height: auto;
    }
   
}
  @media screen and (max-width:600px) {
   .services__container{
    grid-template-columns: 1fr;
    gap: 1.5rem;
   }
   
   .hire_me {
   display: none;
   }
}