.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
   
        
      
    
}

.skills__container > div{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    padding: 2.4rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: 2s;
}
.skills__container > div:hover{
    background:linear-gradient(-135deg,transparent, transparent), 
  linear-gradient(-45deg, rgba(9, 52, 23, 0.769) 0%, #239B56  20%, rgb(9, 69, 103) 25%, transparent 10%);
   opacity: 0.7;
  
    border-color: #239B56;
    cursor: pointer;
    transition: 2.5s;
    /* box-shadow: 1px 1px 15px  rgb(203, 206, 207); */
}

.skills__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: white;
}
.skills__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    transition: 1s;
   
}
.skills__content:hover{
  transform: scale(1.1);
  transition: 1s;
}
.skills__details{
    display: flex;
    gap: 1rem;
}
.skills__details-icon{
    margin-top: 6px;
    color: #fff;
}


/* .frontend__skills{
  background: linear-gradient(-135deg, rgb(0, 0, 0) 10%, transparent), 
		
  repeating-linear-gradient(-45deg, rgba(108, 34, 13, 0.769) 0%, rgb(109, 27, 7) 5%, transparent 5%, transparent 10%);;
} */

@media only screen and (max-width:1024px) {
  .skills__container{
    grid-template-columns: 1fr;
    
  }
  .skills__container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .skills__content{
    padding: 1rem;
  }
}
@media  only screen and (max-width: 600px)  {
  .skills__container{
    gap: 1rem;
  }
  
  .skills__container > div{
    width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
  }
}
