.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 2rem 2rem;
  background: linear-gradient(45deg, transparent, rgb(0, 85, 155), transparent);
  display: grid;
  place-items: center;
}

.about__me-image img {
  width: 100%;
}
.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  /* transform: rotate(-10deg); */
}
.about__me-image:hover {
  /* transform: rotate(0deg); */
  transition: ease-in-out 2;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 1px 15px rgb(0, 93, 187);
}

.about__intro p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
  font-size: 1.3rem;
}

.about__intro span {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* =================MEDIA QUERY FOR MEDIUM)----======================= */

@media only screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__intro p {
    margin: 1.5rem;
  }
}

/* =================MEDIA QUERY FOR SMALL)----======================= */

@media only screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 2rem;
  }
  .about__intro p {
    margin: 1.5rem 0.5rem;
    text-align: justify;
  }
  .About_btn {
    margin: auto;
    display: block;
  }
}

/* .about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: max-content;
  
}
.about__card{
  background-color: rgb(53, 64, 68);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  align-items: center;
} */
