footer {
  background: #000;
  /* background: url(../../assets/Bg_.gif); */
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  color: rgb(154, 39, 39);
  font-size: 0.9rem;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
}
/* .footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: inline-block;
} */
/* .permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
} */

.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 6rem;
}
.footer__social a {
  background-color: rgb(142, 105, 56);
  color: white;
  padding: 0.8rem;
  border-radius: 0.7rem;
  border: 2px solid transparent;
  display: flex;
}
.footer__social a:nth-child(1):hover {
  background-color: #3b5998;
  transform: scale(1.1);
}
.footer__social a:nth-child(2):hover {
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #962fbf);
  transform: scale(1.1);
}
.footer__social a:nth-child(3):hover {
  background: #26a7de;
  transform: scale(1.1);
}
.footer__copyright {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  word-spacing: 0.2rem;
  
}

@media only screen and (max-width: 600px) {
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
    footer{
      background-repeat: no-repeat;
  
    }

}
