nav {
  width: max-content;
  display: block;
  padding: 0.5rem 1.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(15px);
  border: 1px solid white;
  animation-duration: var(--animate-duration);
  animation-name: var(--animation);
}

nav a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: #000;
  box-shadow: 1px 1px 1px #fff;
  transform: scale(1.3);
  color: white;
  border-radius: 5%;
}

nav a.active {
  background-image: url(../../assets/Nav_Bg.gif);
  background-size: cover;
  color: white;
  box-shadow: 1px 1px 1px #fff;
}

@media screen and (max-width: 600px) {
  nav {
    bottom: 3rem;
  }
}
