nav {
    width: max-content;
    display: block;
    padding: 0.5rem 2.3rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(15px);
    // border: 1px solid white;
    animation-duration: var(--animate-duration);
    animation-name: var(--animation);
    text-align: center;
    background: transparent;

    a {
        font-size: 22px;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        padding: 0.8rem;
        border-radius: 50%;
        display: flex;
        color: var(--color-light);



        i {
            transition: all 0.5s ease-out;
        }

        &:hover {
            color: #ffd708;

            svg {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: '';
            font-size: 0.7rem;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 80%;
            text-align: center;
            opacity: 0;
            transition: all 0.4s ease-out;
        }

        nav a.active {
            background-image: url(../../assets/Nav_Bg.gif);
            background-size: cover;
            color: white;
            box-shadow: 1px 1px 1px #fff;
        }

        &:first-child {
            &::after {
                content: 'HOME';

            }
        }
    }

    a:nth-child(2) {
        &::after {
            content: 'ABOUT';
        }
    }

    a:nth-child(3) {
        &::after {
            content: 'STUDY';
        }
    }

    a:nth-child(4) {
        &::after {
            content: 'SERVICE';
        }
    }

    a:nth-child(5) {
        &::after {
            content: 'WORK';
        }
    }

    a:nth-child(6) {
        &::after {
            content: 'CONTACT';
        }
    }
}