.work__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.work__item {
  background-color: transparent;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: 2s;
  transition-delay: 0.3s;
  transition: 2s;
  text-align: center;
}
.work__item:hover {
  border-color: rgb(255, 255, 255);
  opacity: 0.7;
  /* background-color: #060618; */
  backdrop-filter: blur(20px);
  box-shadow: 2px 2px 8px lightblue;
  cursor: pointer;
  transition: 2s ease-in-out;
  /* transform: scale(1.1); */
}
.work__item-image {
  border-radius: 0.5rem;
  overflow: hidden;
}
.work__item img {
  width: 100%;

  background-size: cover;
}

@media only screen and (max-width: 1024px) {
  .work__container {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr;
    gap: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .work__container {
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
